# Lab 4b: Data Cleaning and Analysis

Welcome to Lab 4b!

This lab is a more free-form challenge than the previous ones you have completed. What I would like you to do is to demonstrate some of what you have learned in the previous exercises with another dataset.

<img src="images/london2012.gif"/>

First, by running the cell below we can display a sample of 25 rows from a CSV file containing records about athletes who competed in the London 2012 Olympics. This is a data set produced summarizing data prepared by the Guardian newspaper originally found [here](https://docs.google.com/spreadsheets/d/1CKSOQcrPDhxniv-V1FVFAo2rVXrguBCOFAsGZ_IwPJo/edit#gid=0).

In [1]:
import numpy as np
import pandas as pd
import matplotlib
df = pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv')
df

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
0,Elaine,Brazil,29,168.0,64.0,F,11/01/1982,Football,Women's Football,NaN,NaN,NaN,NaN
1,Jai Bhagwan,India,27,NaN,NaN,M,05/11/1985,Boxing,Men's Light (60kg),NaN,NaN,NaN,NaN
2,Manoj Kumar,India,25,NaN,NaN,M,12/10/1986,Boxing,Men's Light Welter (64kg),NaN,NaN,NaN,NaN
3,Vijender,India,26,NaN,NaN,M,10/29/1985,Boxing,Men's Middle (75kg),NaN,NaN,NaN,NaN
4,A G Kruger,United States of America,33,193.0,125.0,M,2/18/1979,Athletics,Men's Hammer Throw,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10417,Zurabi Datunashvili,Georgia,21,183.0,74.0,M,6/18/1991,Wrestling,Men's 74kg Greco-Roman,NaN,NaN,NaN,NaN
10418,Zurine Rodriguez,Spain,30,154.0,49.0,F,5/21/1982,Triathlon,Women's Triathlon,NaN,NaN,NaN,NaN
10419,Zuzana Bergrova,Czech Republic,27,175.0,64.0,F,11/24/1984,Athletics,Women's 4 x 400m Relay,NaN,NaN,NaN,NaN
10420,Zuzana Hejnova,Czech Republic,25,173.0,62.0,F,12/19/1986,Athletics,Women's 400m Hurdles; Women's 4 x 400m Relay,YES,NaN,NaN,1.0
10421,Zuzana Stefecekova,Slovakia,28,166.0,72.0,F,1/15/1984,Shooting,Women's Trap,YES,NaN,1,NaN

## The Challenge

By adding your own code in your own Jupyter Notebook cells below (you can add a cell by pressing the `+` button in the toolbar), try and answer some of the following questions about this data set:
* How many rows are in this data set?
* Apply some filtering to remove rows that might be incomplete or have errors. How many rows remain after your filters are applied?
* How many atheletes are in the data set?
* Which athlete competed in the most events?
* How many countries are present in the data set?
* Which country fielded the most athletes?
* Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.
* What is the average age, height, and weight for each country's olympic teams?
* As per last question, but by Male and Female athletes.
* Finally, calculate the [Body Mass Index (BMI)](https://en.wikipedia.org/wiki/Body_mass_index) for each athlete in the data set, and display the top 10 rows for male athletes, and again for female athletes.

If you comfortably work out answers for all of these, feel free to add your own analyses!

In [2]:
# How many rows are in this data set?
number_of_rows = df.shape[0]
number_of_rows

10422

In [3]:
# How many atheletes are in the data set?
number_of_atheletes = df['Name'].nunique()
number_of_atheletes

10402

In [4]:
# Which athlete competed in the most events?
most_events = df.groupby('Name', as_index=False)["Event"].count()
most_events.sort_values(by='Event', ascending=False).iloc[0]["Name"]

'Ling Li'

In [5]:
# How many countries are present in the data set?
number_of_countries = df['Country'].nunique()
number_of_countries

205

In [6]:
# Which country fielded the most athletes?
most_athletes = df.groupby('Country', as_index=False)["Name"].count()
most_athletes.sort_values(by='Name', ascending=False).iloc[0]["Country"]

'Great Britain'

In [7]:
def calculate_bmi(row):
    height = row["Height (cm)"]
    weight = row["Weight (kg)"]
    if (height != "NaN" and weight != "NaN"):
        return round(weight / ((height/100)**2),1)
    else:
        return "NaN"

with_bmi = df
with_bmi.insert(5, "BMI", 0)
with_bmi["BMI"] = with_bmi.apply(calculate_bmi, axis=1)

In [8]:
#Top BMI for males
with_bmi.where(with_bmi["Sex"] == "M").sort_values(by='BMI', ascending=False).head(10)

,Name,Country,Age,Height (cm),Weight (kg),BMI,Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
8991,Sparkle McKnight,Trinidad and Tobago,20.0,158.0,155.0,62.1,F,12/21/1991,Athletics,Women's 4 x 100m Relay,NaN,NaN,NaN,NaN
3704,Holley Mangold,United States of America,22.0,173.0,154.0,51.5,F,12/22/1989,Weightlifting,Women's +75kg,NaN,NaN,NaN,NaN
9680,Vanessa Zambotti,Mexico,30.0,175.0,145.0,47.3,F,03/04/1982,Judo,Women's +78kg,NaN,NaN,NaN,NaN
1901,Claudia Carolina Fajardo Rodriguez,Honduras,26.0,160.0,117.0,45.7,F,9/26/1985,Shooting,Women's 10m Air Pistol,NaN,NaN,NaN,NaN
5809,Lulu Zhou,People's Republic of China,24.0,175.0,131.0,42.8,F,19/03/1988,Weightlifting,Women's +75kg,YES,1,NaN,NaN
3467,Gulsah Kocaturk,Turkey,26.0,178.0,135.0,42.6,F,01/01/1986,Judo,Women's +78kg,NaN,NaN,NaN,NaN
9905,Wen Tong,People's Republic of China,29.0,180.0,130.0,40.1,F,01/02/1983,Judo,Women's +78kg,YES,NaN,NaN,1.0
9904,Wen-Hua Li,Taipei (Chinese Taipei),22.0,180.0,130.0,40.1,F,12/03/1989,Athletics,Women's Discus Throw,NaN,NaN,NaN,NaN
6569,Mi-Ran Jang,Republic of Korea,28.0,170.0,115.0,39.8,F,10/09/1983,Weightlifting,Women's +75kg,NaN,NaN,NaN,NaN
6941,Na-Young Kim,Republic of Korea,24.0,189.0,140.0,39.2,F,01/06/1988,Judo,Women's +78kg,NaN,NaN,NaN,NaN

In [9]:
#Top BMI for females
with_bmi.where(with_bmi["Sex"] == "F").sort_values(by='BMI', ascending=False).head(10)

,Name,Country,Age,Height (cm),Weight (kg),BMI,Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
8024,Ricardo Blas Jr,Guam,25.0,185.0,218.0,63.7,M,10/19/1986,Judo,Men's +100kg,NaN,NaN,NaN,NaN
3803,Ian Warner,Canada,22.0,170.0,160.0,55.4,M,5/15/1990,Athletics,Men's 4 x 100m Relay,NaN,NaN,NaN,NaN
198,Akeem Haynes,Canada,20.0,168.0,150.0,53.1,M,03/11/1992,Athletics,Men's 4 x 100m Relay,NaN,NaN,NaN,NaN
4000,Itte Detenamo,Nauru,25.0,170.0,140.0,48.4,M,9/22/1986,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN
8465,Sang-Guen Jeon,Republic of Korea,31.0,183.0,158.0,47.2,M,2/28/1981,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN
7970,Reese Hoffa,United States of America,34.0,180.0,147.0,45.4,M,10/08/1977,Athletics,Men's Shot Put,YES,NaN,NaN,1.0
2045,Damon Kelly,Australia,28.0,182.0,149.0,45.0,M,12/01/1983,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN
4226,Janusz Wojnarowicz,Poland,32.0,198.0,170.0,43.4,M,4/14/1980,Judo,Men's +100kg,NaN,NaN,NaN,NaN
9705,Velichko Cholakov,Azerbaijan,30.0,198.0,170.0,43.4,M,01/12/1982,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN
5069,Kazuomi Ota,Japan,26.0,183.0,145.0,43.3,M,07/01/1986,Weightlifting,Men's +105kg,NaN,NaN,NaN,NaN

---
You're done with Lab 4b!

Choose **Save and Checkpoint** from the **File** menu to save your work.

If you are running the labs in Binder (on the cloud), then choose **Download as Notebook** and save it to your computer. 

Now *ZIP* all two Lab 4 notebooks together into one file and [upload it to Studium](https://uppsala.instructure.com/courses/26106/assignments/37618).